<apex:page docType="html-5.0" controller="ISA_ViewContactInsightsCtrl" action="{! initPage }" 
	standardstylesheets="false" showHeader="false" sidebar="false" >
	
	<title>Contact: Insights</title>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	
	<script>
		var j$ = jQuery.noConflict();
	</script>
	
	<apex:form id="formId">
		<apex:actionFunction name="displayQuestions" action="{! doDisplayUnanswered }" reRender="formId">
			<apex:param name="unanswered" value="" />
		</apex:actionFunction>
		
		<div align="center">
			<apex:commandButton value="Save changes" action="{! doSave }" reRender="insightPanelId" 
					oncomplete="window.parent.location.reload();" styleClass="btn btn-blue-spin btn-sm"/>
		</div>
		
		<div>
			<div style="width:100%;">
				Insights 
				
				<apex:selectList value="{! selectedPanel }" size="1">
					<apex:actionSupport event="onchange" action="{! doSelectPanel }" reRender="formId" />
					
					<apex:selectOptions value="{! panelOptions }" />
				</apex:selectList>
				
				<apex:outputLabel value="Ununaswered only" for="unansweredID" />
				<apex:inputCheckbox id="unansweredID" onchange="changeQuestions(this); return false;" />
			</div>
			
			<div>
				<apex:repeat value="{! survey.questions }" var="question">
					<div style="border: 1px solid gray; padding: 10px; margin: 10px 0;">
						<b><apex:outputText value="{! question.record.Title__c }" /></b>
						<br />
						
						<apex:outputPanel rendered="{! IF(question.record.Type__c = 'Single select drop-down', TRUE, FALSE) }">
							<apex:selectRadio value="{! question.selectedValue }">
								<apex:selectOptions value="{! question.picklistOptions }" />
							</apex:selectRadio>
						</apex:outputPanel>
						
						<apex:outputPanel rendered="{! IF(question.record.Type__c = 'Open-ended', TRUE, FALSE) }">
							<apex:selectList value="{! question.selectedValue }" size="1">
								<apex:selectOptions value="{! question.picklistOptions }" />
							</apex:selectList>
							
							<br />
							OR
							<br />
							
							<apex:inputText value="{! question.answerStringValue }" />
						</apex:outputPanel>
						
						<apex:outputPanel rendered="{! IF(question.record.Type__c = 'Multi select drop-down', TRUE, FALSE) }">
							<apex:selectCheckboxes value="{! question.selectedValues }">
								<apex:selectOptions value="{! question.picklistOptions }" />
							</apex:selectCheckboxes>
						</apex:outputPanel>
						
						<apex:outputPanel rendered="{! AND(question.record.Type__c == 'Currency') }">
							$<apex:input type="number" value="{! question.answerIntegerValue }" />
						</apex:outputPanel>
						
						<apex:outputPanel rendered="{! AND(question.record.Type__c == 'Date') }">
							<apex:input type="date"  value="{! question.answerStringValue }" />
						</apex:outputPanel>
						
						<apex:outputPanel rendered="{! AND(question.record.Type__c == 'Number') }">
							<apex:input type="number" value="{! question.answerIntegerValue }" />
						</apex:outputPanel>
						
						<apex:outputPanel rendered="{! AND(question.record.Type__c == 'Text') }">
							<apex:input type="text" value="{! question.answerStringValue }" />
						</apex:outputPanel>
						
						<br /><br />
					</div>
				</apex:repeat>
			</div>
		</div>
		
		<script>
			function changeQuestions(ch) {
				displayQuestions(j$(ch).is(':checked'));
			}
		</script>
		
		<apex:insert name="insights" />
	</apex:form>
</apex:page>