<apex:page controller="ISA_AccountContactsCtrl" action="{! initPage }" showHeader="false" sidebar="false">
	<style>
		.topButtons {
			text-align: right;
		}
		
		.topActions {
			width: 100%;
		}
		
		.pagination {
			float: right;
		}
	</style>
	
	<title>Account:Contacts</title>
	
	<apex:composition template="ISA_Composition" >
		<apex:define name="body">
			<apex:form >
				<div width="100%">
					<apex:commandLink value="{! accountName }" action="{! doCancel }" />
					<apex:commandButton value="Summary" />
					<apex:commandButton value="Contacts" />
					<apex:commandButton value="Insights" />
					<apex:commandButton value="Strategies" />
					<apex:commandButton value="Create Contact" />
					<apex:commandButton value="Upload Contacts" />
				</div>
				
				<apex:pageBlock >
					<apex:pageBlockTable value="{! records }" var="wrap">
						<apex:column headerValue="Contact">
							<apex:outputLink value="/{! wrap.record.Id }">{! wrap.record['Name'] }</apex:outputLink>
						</apex:column>
						
						<apex:column headerValue="Strategy">
							<apex:outputText value="" />
						</apex:column>
						
						<apex:column headerValue="Insight Index">
							<apex:outputText value="{0,Number,###.##}%" >
								<apex:param value="{! wrap.record['Insight_Index__c'] }" />
							</apex:outputText>
						</apex:column>
						
						<apex:column headerValue="Completeness">
							<apex:outputText value="{0,Number,###.##}%" >
								<apex:param value="{! wrap.record['Completeness_Score__c'] }" />
							</apex:outputText>
						</apex:column>
						
						<apex:column headerValue="Influence">
							<apex:outputText value="{0,Number,###.##}%" >
								<apex:param value="{! wrap.record['Influence__c'] }" />
							</apex:outputText>
						</apex:column>
						
						<apex:column headerValue="Last Activity">
							<apex:outputText value="{! wrap.record['Last_Activity__c'] }" />
						</apex:column>
					</apex:pageBlockTable>
				</apex:pageBlock>
			</apex:form>
		</apex:define>
	</apex:composition>
</apex:page>