<apex:page controller="ISA_InsightContactsCtrl" action="{! initPage }" showHeader="false" sidebar="false" standardstylesheets="false">
	<title>Insight: Contacts</title>
	
	<apex:composition template="ISA_Composition" >
		<apex:define name="body">
			<apex:form id="formId">
				<apex:pageBlock id="pageBlockId" title="Insight Contacts">
					<apex:pageBlockButtons location="top">
						<apex:commandLink value="Cancel" action="{! doCancel }" styleClass="btn btn-blue-spin btn-sm" />
					</apex:pageBlockButtons>
					
					<apex:pageblockTable id="pageBlockTableId" value="{! records }" var="rec" styleClass="table table-responsive table-bordered table-hover">
						<apex:column headerValue="Contact Name">
							<apex:commandLink value="{! rec.record['Name'] }" action="{! doViewRecord }">
								<apex:param name="viewId" value="{! rec.record.Id }" />
							</apex:commandLink>
						</apex:column>
					</apex:pageblockTable>
				</apex:pageBlock>
			</apex:form>
		</apex:define>
	</apex:composition>
</apex:page>