<apex:page controller="AUTH_ResetPasswordController" showHeader="false" sidebar="false" action="{! init }">
    <head>
    	<title>Raybec / Reset Password</title>
    </head>
    <body>
        <div id="rp">
            <div id="rp_wrapper">
                <div id="left_side">
                    <div id="rp_component">
                        <div id="logo_wrapper" style="width:200px;display:block;margin-left:auto;margin-right:auto;text-align:center;margin-top:200px;">
                            <img id="logo" class="logo_waveoc" src="{!URLFOR($Resource.woc_crm,
                                'images/logo.png')}" alt="WaveOC" border="0" width="140" height="100"/>
                        </div>
                        <div id="content" style="width:300px;display:block;margin-left:auto;margin-right:auto;margin-top:20px;">
                            <apex:form id="rp_form">
                                <apex:pageBlock >
                                    <apex:pageMessages escape="false" />
                                    <apex:pageBlockButtons location="bottom">
                                        <apex:commandButton id="reset" action="{!updatePassword}" value="Save" reRender="rp_form"/>
                                    </apex:pageBlockButtons>
                                    <apex:pageBlockSection columns="1">
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel for="newPass" value="New Password:" />
                                            <apex:inputSecret id="newPass" value="{!newPass}" />
                                        </apex:pageBlockSectionItem>
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel for="newPassRepeat" value="Confirm New Password:" />
                                            <apex:inputSecret id="newPassRepeat" value="{!newPassRepeat}" />
                                        </apex:pageBlockSectionItem>
                                    </apex:pageBlockSection>
                                </apex:pageBlock>
                            </apex:form>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer" style="width:300px;display:block;margin-left:auto;margin-right:auto;text-align:center;margin-top:20px;">© 2014 WaveOC Pte Ltd. All rights reserved.</div>
        </div>
    </body>
</apex:page>