<apex:component controller="ISA_ViewUserCtrl">
	<apex:form >
		<apex:pageMessages />
		
		<apex:pageBlock >
			<apex:pageBlockSection >
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="firstnameId" value="First Name" />
					
					<apex:outputField id="firstnameId" value="{! user.First_Name__c }" />
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="lastnameId" value="Last Name" />
					
					<apex:outputField id="lastnameId" value="{! user.Last_Name__c }" />
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="phoneId" value="Phone No" />
					
					<apex:outputField id="phoneId" value="{! user.Phone__c }" />
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="emailId" value="Email" />
					
					<apex:outputField id="emailId" value="{! user.Email__c }" />
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="cityId" value="Login Id" />
					
					<apex:outputField id="cityId" value="{! user.Username__c }" />
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="stateId" value="Password" />
					
					<apex:outputField id="stateId" value="{! user.Password__c }" />
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="pincodeId" value="Create Date" />
					
					<apex:outputField id="pincodeId" value="{! user.Create_Date__c }" />
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel for="companyId" value="Company" />
					
					<apex:outputField value="{! user.Company__c }" />
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
			
			<apex:pageBlockButtons >
				<apex:commandButton value="Cancel" action="{! doCancel }" immediate="true" />
				<apex:commandButton value="Edit" action="{! doEdit }" />
			</apex:pageBlockButtons>
		</apex:pageBlock>
	</apex:form>
</apex:component>