<apex:component controller="ISA_MainViewCtrl" allowDML="true">
<apex:stylesheet value="{!URLFOR($Resource.ISA_Community, 'stylesheets/skeleton.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ISA_Community, 'stylesheets/base.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ISA_Community, 'stylesheets/layout.css')}"/>
    <apex:form id="formId">
	<div class="header">
		<div class="container">
			<div class="three columns logo">
				<img src="{!URLFOR($Resource.ISA_Community, 'images/raybec.png')}"/>
			</div>
			<div class="three columns search">
				<input/>
			</div>
			<div class="seven columns navi">
				<ul>
					<apex:repeat value="{! sObjectNameMap }" var="label">
						<li>
						    <apex:commandLink value="{! label }" reRender="formId" action="{! doSelect }">
						        <apex:param name="nameObject" value="{! sObjectNameMap[label] }" />
						        <apex:param name="labelObject" value="{! label }" />
						    </apex:commandLink>
					    </li>
					</apex:repeat>
				</ul>
			</div>
			<div class="three columns username">
				<div class="username">
					Bob Beckerman
				</div>
			</div>
		</div><!-- container -->
	</div>
        <table width="100%">
            <tr>
                
                <!-- List View component -->
                <td>
                    <apex:pageBlock id="pageBlockId">
                        <apex:pageBlockButtons location="top">
                            <apex:commandLink value="New {! sObjectLabel }" action="{! doCreateObject }" target="_blank" 
                                    styleClass="btn" style="padding: 3px 4px; text-decoration: none; colour: black;" />
                            
                            <apex:commandButton value="Remove {! sObjectLabel }" action="{! doRemove }" reRender="pageBlockTableId" />
                        </apex:pageBlockButtons>
                        
                        <apex:pageblockTable id="pageBlockTableId" value="{! records }" var="rec" >
                            <apex:column headerValue="Action" >
                                <apex:facet name="header" >
                                    <input type="checkbox" id="allCheckboxId" onchange="checkAll(this);" />
                                    &nbsp;Action
                                </apex:facet>
                                
                                <input type="checkbox" name="sObject" value="{! rec.checked }" />
                                &nbsp;|&nbsp;
                                <apex:commandButton value="edit" action="{! doEditRecord }" reRender="pageBlockId" >
                                    <apex:param name="editRecordId" value="{! rec.record['Id'] }" />
                                </apex:commandButton>
                                &nbsp;|&nbsp;
                                <apex:commandButton value="remove" action="{! doRemoveRecord }" reRender="pageBlockId" >
                                    <apex:param name="removeRecordId" value="{! rec.record['Id'] }" />
                                </apex:commandButton>
                            </apex:column>
                            
                            <apex:column >
                                    <apex:facet name="header">
                                        <apex:commandLink action="{! doSort }" reRender="pageBlockTableId">
                                            <apex:outputText escape="false" value="{! sObjectLabel } Name {! 
                                                    IF(sortableMap['Name'], 
                                                        IF(sortField == 'Name', 
                                                            IF (sortOrder == 'ASC', 
                                                                '&#9650;', 
                                                                IF (sortOrder == 'DESC', 
                                                                    '&#9660;', 
                                                                    ''
                                                                )
                                                            ), 
                                                            ''
                                                        ),
                                                        ''
                                                    )}" />
                                            
                                            <apex:param name="sortField" value="Name" />
                                            <apex:param name="sortOrder" value="{! IF(sortField == 'Name', IF (sortOrder == 'ASC', 'DESC', 'ASC'), 'ASC') }" />
                                        </apex:commandLink>
                                    </apex:facet>
                                    
                                    <apex:commandLink value="{! rec.record['Name'] }" action="{! doViewRecord }">
                                        <apex:param name="viewId" value="{! rec.record.Id }" />
                                    </apex:commandLink>
                                </apex:column>
                            
                            <apex:repeat value="{! fieldSetMap }" var="label" >
                                <apex:column >
                                    <apex:facet name="header">
                                        <apex:commandLink action="{! doSort }" reRender="pageBlockTableId">
                                            <apex:outputText escape="false" value="{! label } {! 
                                                    IF(sortableMap[fieldSetMap[label]], 
                                                        IF(sortField == fieldSetMap[label], 
                                                            IF (sortOrder == 'ASC', 
                                                                '&#9650;', 
                                                                IF (sortOrder == 'DESC', 
                                                                    '&#9660;', 
                                                                    ''
                                                                )
                                                            ), 
                                                            ''
                                                        ),
                                                        ''
                                                    )}" />
                                            
                                            <apex:param name="sortField" value="{! fieldSetMap[label] }" />
                                            <apex:param name="sortOrder" value="{! IF(sortField == fieldSetMap[label], IF (sortOrder == 'ASC', 'DESC', 'ASC'), 'ASC') }" />
                                        </apex:commandLink>
                                    </apex:facet>
                                    
                                    <apex:outputField value="{! rec.record[fieldSetMap[label]] }" />
                                </apex:column>
                            </apex:repeat>
                        </apex:pageblockTable>
                        
                        <table>
                            <tr>
                                <td>
                                    <apex:commandButton value="First" action="{! doFirstPage }" reRender="pageBlockId" />
                                </td>
                                <td>
                                    <apex:commandButton value="Previous" action="{! doPreviousPage }" reRender="pageBlockId" />
                                </td>
                                <td>
                                    <apex:outputText value="{! pageIndex }" />
                                </td>
                                <td>
                                    <apex:commandButton value="Next" action="{! doNextPage }" reRender="pageBlockId" />
                                </td>
                                <td>
                                    <apex:commandButton value="Last" action="{! doLastPage }" reRender="pageBlockId" />
                                </td>
                                <td>
                                    <apex:selectList value="{! selectedCountRecords }" size="1">
                                        <apex:selectOptions value="{! countRecordOptions }" />
                                        
                                        <apex:actionSupport event="onchange" action="{! doChange }" reRender="pageBlockId" />
                                    </apex:selectList>
                                </td>
                                <td>
                                    <apex:outputText value="{! countOfPage }" />
                                </td>
                            </tr>
                        </table>
                        
                    </apex:pageBlock>
                </td>
            </tr>
        </table>
        
        <script>
            function checkAll(ch) {
                var checkboxes = document.getElementsByName('sObject');
                
                for(var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = ch.checked;
                }
            }
        </script>
    </apex:form>
</apex:component>